<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Benadryl">
	<listeners>
		<listener class-name="com.jnj.utility.CustomListener" />
	</listeners>

	<test name="Regression Suite Testcases">
		<classes>
			<class name="com.jnj.testcases.HomePageTest" />
			<class name="com.jnj.testcases.SignUpPageTest" />
			<class name="com.jnj.testcases.HeaderPageTest" />
			<class name="com.jnj.testcases.DifferencePageTest" />
			<class name="com.jnj.testcases.ComparePageTest" />
			<class name="com.jnj.testcases.OurIngredientsPageTest" />
			<class name="com.jnj.testcases.AllergiesPageTest" />
		</classes>
	</test>
</suite>