<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Benadryl - Regression Suite Testcases">
	<listeners>
		<listener class-name="com.jnj.utility.CustomListener" />
	</listeners>
	
<!-- 	<test name="HEADER MODULE">
		<classes>
			<class name="com.jnj.testcases.HeaderPageTest" />
		</classes>
	</test>
	<test name="HOME MODULE">
		<classes>
			<class name="com.jnj.testcases.HomePageTest" />
		</classes>
	</test> -->
	<test name="DIFFERENCE MODULE">
		<classes>
			<!-- <class name="com.jnj.testcases.DifferencePageTest" /> -->
			<class name="com.jnj.testcases.ComparePageTest" />
		</classes>
	</test>
</suite>